@charset "UTF-8"
body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: white;
}
/* Front Page Style */
/* Navigation bar*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}
.TopTitle {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}
li {
	float: right;
}
li a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
li a:hover {
  text-decoration: underline;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
/* Front page content*/
.container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  color: black;
}
.container img {
	width: 100%;
	height: 100%;
	opacity: 0.45;
}
.centered-toptitle {
  overflow: hidden;
  resize: both;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-family: "Courier New";
  font-size: 5vw; 
}
.centered-bottomtitle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-family: "Courier New";
  font-size: 3vw; 
}
.menu-button {
	position: absolute;
  	top: 65%;
  	left: 50%;
  	transform: translate(-50%, -60%);
	font-size: 2.5vw;
	padding: 12px 35px;
	border-radius: 12px;
	background-color: black;
	color: white;
	border: 2px solid white;
	font-family: "Courier New";
}
button a {
	text-decoration: none;
	color: white;
}
button a:hover {
    text-decoration: underline;
	color: white;
}
/* Location Style*/
.subtitles {
	font-family: "Courier New";
	font-size: 40px;
	padding: 14px 0 8px 0;
	text-align: center;
	color: black;
	margin-bottom: 8px;
	margin-top: 45px;
	width: auto;
	height: auto;
	resize: both;
}	

h3 {
	font-family: "Verdana";
	font-size: 12px;
	padding: 3px 0 10px 0;
	text-align: center;
	text-decoration: none;
    display: block;
    width: auto;
	height: auto;
	resize: both;
}
h3 a {
  text-decoration: none;
  display: block;
  color: black;
  text-align: center;
  padding: 3px 0;
}
h3 a:hover {
  text-decoration: none;
  display: block;
  color: red;
  text-align: center;
  padding: 3px 0;
}
.gmap_canvas {
	resize: both;
	margin-right: 18.85px;
}
.general-paragraph{
	margin-left: 10px;
	margin-right: 10px;
	resize: both;
	padding: 0;
	width: auto;
	height: auto;
}
p {
	font-family: "Verdana";
	font-size: 15px;

}

.wrapper {
    
    margin: 1%;
}

.inner {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.menuitem {
    border: 2px solid black;
    border-radius:5px;
    background-color: grey;
    color: #fff;

}
.menuitem img {
	border-radius: 50%;
	width: 100%;
	height: 200px;
	margin: auto;
	padding: 15px 30px;
}
.menuitem h3 {
    background-color: black;
    margin: 0;
    padding: 10px;
}

.menuitem p {
    padding: 10px;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
}
/* Gallery */
.gallery {
	position: relative;
	max-width: auto;
	width: 98%;
	margin: 1%;
	text-align: center;

}
.gallery img {
	max-width: 610px;
	max-height: 410px;
	display: inline-block;
}
.gallery-image @media (min-width: 420px) {
  img {
    max-width: 48%;}
.gallery-image @media (min-width: 760px) {
  img {
    max-width: 24%;
  }
  
.team-members {
	position: relative;
	max-width: 960px;
	width: 96%;
	margin: 0px auto 100px auto;

}
.teamimage {
	width: 48%;
	display: inline-block;
	margin: 10px 0px;
}
.teamimage p {
	text-align: center;
	margin: 5px 0;
	font-size: calc(7px + 0.5vw)

}
.closingline {
	list-style-type: none;
	margin: 0;
	padding: 5px 0px;
	overflow: hidden;
	background-color: black;
	color: white;
	text-align: center;
}

.closing-line h4 {
	font-size: 20px;
}
footer {
	padding: 12px 0px 18px 0px;
	font-size: 10px;

}